screenshots/
screenshot/
test-output/
build/

application.log
##################################
##Java
##################################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
activityLog.log
###################################
##Maven
###################################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionBackup
pom.xml.next
pom.xml.bak
release.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
#####################################
##Eclipse
#####################################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.swp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath